body {
    height: 30px;
    margin: 10px;
 }
 
 h1 {
    text-decoration: underline;
 }
 
 ul {
    list-style-type: square;
 }
 
 a:link {
    color: #FF0000;
    background-color: #00FF00;
 }
 
 a:hover {
    color: #FFFFFF;
    background-color: #FF00FF;
 }
 
 a:visited {
     color: #FFFFFF;
     background-color: #000000;
     }
 
 a:active {
    color: #FFFF00;
    background-color: #0000FF;
 }
 